<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Demo$Demo01_TestNG_Annotations.afterClass()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Demo$Demo01_TestNG_Annotations.afterMethod()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>47</td> <td title="&lt;&lt;Demo$Demo01_TestNG_Annotations.afterSuite()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Demo$Demo01_TestNG_Annotations.afterTest()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Demo$Demo01_TestNG_Annotations.beforeClass()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Demo$Demo01_TestNG_Annotations.beforeMethod()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>-46</td> <td title="&gt;&gt;Demo$Demo01_TestNG_Annotations.beforeSuite()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>-31</td> <td>&nbsp;</td><td title="&gt;&gt;Demo$Demo01_TestNG_Annotations.beforeTest()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1802598046</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>19/01/22 17:45:43</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo$Demo01_TestNG_Annotations.test()[pri:0, instance:com.components.pages.Demo$Demo01_TestNG_Annotations@2aafb23c]">test</td> 
  <td>main@1802598046</td>   <td></td> </tr>
</table>
